/* .footer{
    background-color: black;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
  }
  
  .footer-first-row {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
  }
  
  .social-links a {
    margin-right: 10px;
  }
  
  .social-links a img {
    width: 24px;
    height: 24px;
  }
   */





  