{% load static %}

<footer style="background-color: black; color: white; margin: 0;" class="footer" >
    <div style="padding: 70px;" class="container-fluid footer-first-row">
        <div class="row">
            <div class="col-4">
                <div class="links">
       
                  <b> Menu </b><br><br>
                  <a href="#">Track Your Order</a><br>
                  <a href="#">Search</a><br>
                  <a href="#">About us</a><br>
                  <a href="#">Be Our Distributor</a><br>
                  <a href="#">FAQ</a><br>
                  <a href="#">Careers</a><br>
                  <a href="{% url 'contact' %}">Contact Us</a><br>
                  <a href="#">Privacy Policy</a><br>
                  <a href="#">Refund Policy</a><br>
                  <a href="#">Terms of Service</a><br>
               </div>
            </div><!-- /.col-4 -->
            <div class="col-4">
                <div class="quick-links">
                    <strong>MINI BIO</strong><br><br>
                   <p>Dari Mooch is a one stop solution for all your grooming needs. We’re the best at what we do and we leave no man behind. We're on a mission to style and groom every Pakistani man to their best self!</p>
                </div>
            </div><!-- /.col-4 -->
            <div class="col-4">
                <div class="contact-info">
                    <b>Contact</b><br><br>
                    <p><a href="">support@darimooch.com</a><br>
<a href="">+92 316 1115556</a><br>
33 E1 Shahrah e Imam Hussain Gulberg III, Lahore <br>
Lahore <br>
54660 Pakistan</p>
<div  class="social-links">

    <a href="#"><img src="" alt="Facebook"></a>
    <a href="#"><img src="" alt="Twitter"></a>
    <a href="#"><img src="" alt="YouTube"></a>
    <a href="#"><img src="" alt="WhatsApp"></a>
</div>

                
                </div>
            </div><!-- /.col-4 -->
        </div><!-- /.row -->
    </div>
    <hr>
  
    <div class="footer-second-row" style=" padding: 10px;">
        <div class="container-fluid">
            <div class="row" style="display: flex; align-items: center;">
                <div class="col-4"></div><!-- /.col-4 -->
                <div class="col-5"></div><!-- /.col-5 -->
                <div class="col-3">
                    <p><a href="#">Powered by Shopify</a>   ©2024, Dari Mooch</p>
                    
                </div><!-- /.col-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-third-row -->
    </div>
</footer>
</footer><!-- /.footer -->
</div><!-- /.site-wrapper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'javascript/app.js' %}"></script>
</body>
</html>
