{% include 'header.html' %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    {% for c in carousel %}
    <div class="carousel-item active">
      <img width="300px" height="500px" src="media/{{c.image}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<main>
  <h2 style="text-align: center;">Ice Blast</h2>
  <div class="main-content">
  <div class="row" >
   {% for product in products %}
   {% if product.category == 'Ice Blast' %}
    <div class="col-3">
      <div class="card" style="width: 18rem;">
       <img src="media/{{product.image}}" class="card-img-top" alt="...">
        <div class="card-body">
         <h5 class="card-title">{{product.title}}</h5>
         <p class="card-text">PKR.{{product.price}}</p>
           <!-- <p class="card-text">{{product.description}}</p> -->
            <a href="#" class="btn btn-primary">By Now</a>
              </div>
               </div>
                 </div> 
                  {% endif %}
                  {% endfor %}
                   </div> 
                   </div>
      <h2 style="text-align: center;">Face</h2>
      <div class="main-content">
        <div class="row" >
         {% for product in products %}
         {% if product.category == 'Face' %}
          <div class="col-3">
            <div class="card" style="width: 18rem;">
             <img src="media/{{product.image}}" class="card-img-top" alt="...">
              <div class="card-body">
               <h5 class="card-title">{{product.title}}</h5>
               <p class="card-text">PKR.{{product.price}}</p>
                 <!-- <p class="card-text">{{product.description}}</p> -->
                  <a href="#" class="btn btn-primary">By Now</a>
                    </div>
                     </div>
                       </div> 
                        {% endif %}
                        {% endfor %}
                         </div> 
                         </div>             
</main>
 {% include 'footer.html' %}